.api-pagination {
  text-align: center;

  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      min-height: 25vh; /* Reducir un poco la altura */
      max-height: 25vh; /* Reducir un poco la altura */
      margin: 8px; /* Reducir los márgenes */
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 8px; /* Reducir el padding */
      width: 180px; /* Reducir el ancho */
      text-align: center;
      background-color: #f9f9f9;

      .card-image {
        object-fit: cover;
        min-height: 18vh; /* Reducir la altura de la imagen */
        max-height: 18vh; /* Reducir la altura de la imagen */
        max-width: 20vh; /* Reducir el ancho de la imagen */
      }

      .card-title {
        font-size: 14px; /* Reducir el tamaño de la fuente */
        font-weight: bold;
      }
    }
  }

  .pagination {
    margin: 16px 0; /* Reducir el margen de la paginación */

    button {
      margin: 0 8px; /* Reducir el margen entre los botones */
      padding: 6px 12px; /* Reducir el tamaño del padding */
      font-size: 12px; /* Reducir el tamaño de la fuente */
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
