.enemies-search-container {
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 20px;
  }

  .filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;

    label {
      font-size: 1rem;
      color: #333;

      select {
        margin-left: 10px;
        padding: 5px;
        font-size: 1rem;
      }
    }
  }

  .enemies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .enemy-card {
    
    max-width: 25vh;
    max-height: 45vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .enemy-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.1rem;
      color: #555;
      margin: 0 0 10px 0;
    }

    p {
      font-size: 0.9rem;
      color: #666;
      margin: 5px 0;
    }
  }
}
